html {
  width: 100%;
  font-size: 62.5%;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  background: white;
}
@media (max-width: 500px) {
  .main-2-1 {
    width: 100%!important;
    margin: 0;
    padding: 0!important;
    text-align: center!important;
  }
  html {
    font-size: 50%%;
  }
}
@media (max-width: 560px) {
  #main-3 input {
    margin: 0.8rem calc((100% - 2em)/2);
    padding: 0!important;
    text-align: center!important;
  }
}
header {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background: #29bde0;
}
header a {
  padding-left: 1rem;
  float: left;
  font-size: 5rem;
  line-height: 100px;
  text-align: left;
  color: white;
}
main .main-1 {
  width: 95%;
  height: 80px;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: bolder;
  line-height: 80px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 1px 1px gainsboro;
  -moz-box-shadow: 2px 2px 1px 1px gainsboro;
  box-shadow: 2px 2px 1px 1px gainsboro;
}
main #main-2 {
  width: 95%;
  height: 400px;
  margin: 0 auto;
  border-bottom: 1px solid gainsboro;
}
main #main-2 .main-2-1 {
  float: left;
  width: 45%;
  padding: 20px 0;
  padding-left: 5%;
  font-size: 2rem;
  text-align: left;
  line-height: 80px;
}
main #main-2 .main-2-1 img {
  width: 60px;
  height: 60px;
  margin: 10px 0;
  margin-right: 20px;
}
main #main-2 .main-2-1 input {
  width: 1.5em;
  padding-bottom: .5rem;
  text-align: center;
  font-size: 2rem;
  outline: none;
  border: none;
  background: white;
}
main #main-3 {
  width: 95%;
  height: 400px;
  margin: 0 auto;
  border-bottom: 1px solid gainsboro;
  height: 150px;
  padding-top: 250px;
  font-size: 3.5rem;
  text-align: center;
  border: none;
}
main #main-3 .main-2-1 {
  float: left;
  width: 45%;
  padding: 20px 0;
  padding-left: 5%;
  font-size: 2rem;
  text-align: left;
  line-height: 80px;
}
main #main-3 .main-2-1 img {
  width: 60px;
  height: 60px;
  margin: 10px 0;
  margin-right: 20px;
}
main #main-3 .main-2-1 input {
  width: 1.5em;
  padding-bottom: .5rem;
  text-align: center;
  font-size: 2rem;
  outline: none;
  border: none;
  background: white;
}
main #main-3 input {
  width: 2em;
  height: 4rem;
  font-size: 3rem;
  font-weight: bolder;
  bline-height: 4rem;
  text-align: center;
  outline: none;
  border: none;
  background: gainsboro;
  color: orange;
  border-radius: 10px;
}
main #main-3 span {
  font-size: 2.5rem;
  color: orange;
}
footer {
  width: 100%;
  margin-bottom: 2rem;
}
footer #foot {
  width: 95%;
  margin: 0 2.5%;
  height: 90px;
  font-size: 5rem;
  letter-spacing: .36rem;
  text-align: center;
  background: orange;
  color: white;
}
